body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




h2{
    width:100%;
}









.myfooter{
    color : white;
}
.myfooter a{

}


.foot{
    border-left:solid 3px white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subfooter{

}
#SearchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-image: url('../Images/—Pngtree—vector search icon_3783210.png');
    /*background-repeat:no-repeat;*/
    padding: 5px 0px 5px 5px;
    background-position: 10px 10px;
    margin-top: 8px;
    transition: width 0.4s ease-in-out;
}
#SearchName:focus{
    width:100%;
}


.img-size{
    font-size:90px;
}

.navbar-user {
    padding: 10px;
    padding-bottom: 0px;
    width: 350px;
}



.category{
 
    width: 50px;
}



